CARGA DEL ARCHIVO "OTUPUT_STEAM_GAMES.JSON"

In [6]:
import pandas as pd
import json

In [7]:
# Se carga el primer dataframe
data = []
with open('../output_steam_games.json', 'r') as file:
    for line in file:
        data.append(json.loads(line))
df_steam = pd.DataFrame(data)

In [8]:
# Se eliminan todas aquellas filas que posee todos sus valores nulos en todas las columnas
df_steam=df_steam.dropna(how='all')
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 3.4+ MB

In [9]:
# Se eliminan aquellas columnas innecesarias para las querys de la APIs y se reindexa
columns=['url','reviews_url','specs','publisher','early_access','tags']
df_steam=df_steam.drop(columns,axis=1).reset_index(drop=True)

Proceso de transformación y limpieza de columnas

In [10]:
df_steam.head()

,genres,app_name,title,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.99,767400,彼岸领域
4,NaN,Log Challenge,NaN,NaN,2.99,773570,NaN

Columna "id"

In [11]:
# Se verifican si hay filas con "id" nulo 
filtro = df_steam['id'].isna()
filas_filtradas = df_steam[filtro]
filas_filtradas

,genres,app_name,title,release_date,price,id,developer
74,NaN,NaN,NaN,NaN,19.99,NaN,NaN
30961,"[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,2012-09-07,19.99,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [12]:
# Se eliminan dichas filas
df_steam=df_steam.dropna(subset=['id']).reset_index(drop=True)

Columna "developer"

In [13]:
# Se verifican si hay filas con "developer" nulo 
filtro = df_steam['developer'].isnull()
filas_filtradas = df_steam[filtro]
filas_filtradas

,genres,app_name,title,release_date,price,id,developer
4,NaN,Log Challenge,NaN,NaN,2.99,773570,NaN
11,NaN,Icarus Six Sixty Six,NaN,NaN,Free,724910,NaN
19,NaN,After Life VR,NaN,NaN,4.99,772590,NaN
20,NaN,Kitty Hawk,NaN,NaN,2.99,640250,NaN
22,NaN,Mortars VR,NaN,NaN,0.99,711440,NaN
...,...,...,...,...,...,...,...
32116,NaN,Robotpencil Presents: Exercise: Brushwork,Robotpencil Presents: Exercise: Brushwork,2018-01-03,3.99,775640,NaN
32117,NaN,Robotpencil Presents: Creative Composition,Robotpencil Presents: Creative Composition,2018-01-03,3.99,777930,NaN
32118,NaN,The Gamble House,The Gamble House,2016-11-19,4.99,775370,NaN
32119,NaN,Kalen Chock Presents: 2017 Free Tutorial,Kalen Chock Presents: 2017 Free Tutorial,2018-01-03,Free,777950,NaN
32132,NaN,Maze Run VR,NaN,NaN,4.99,681550,NaN

In [14]:
# Se eliminan dichas filas
df_steam=df_steam.dropna(subset=['developer']).reset_index(drop=True)

Columna "genres"

In [15]:
df_steam=df_steam.dropna(subset=['genres']).reset_index(drop=True)
df_steam

,genres,app_name,title,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...
28676,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
28677,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
28678,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
28679,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
28680,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"

In [16]:
# Se crea una columna auxiliar que muestra si incluye "Free to play" como genre
df_steam['incluye_free'] = df_steam.apply(lambda row: 'si' if 'Free to Play' in row['genres'] else 'no', axis=1)

In [17]:
df_steam

,genres,app_name,title,release_date,price,id,developer,incluye_free
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,no
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL,si
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com,si
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.99,767400,彼岸领域,no
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd,no
...,...,...,...,...,...,...,...,...
28676,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,no
28677,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS""",no
28678,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada,no
28679,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,no
28680,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",no

In [18]:
# En caso de que la columna "incluye_free" sea si, cambio el valor de price a 0.0
df_steam.loc[df_steam['incluye_free'] == 'si', 'price'] = 0.0
# Se elimina la etiqueta "Free to Play" de las listas de 'genres' y se eliminan las columnas auxiliares
df_steam.loc[df_steam['incluye_free'] == 'si', 'genres'] = df_steam.loc[df_steam['incluye_free'] == 'si', 'genres'].apply(lambda x: [genre for genre in x if genre != 'Free to Play'])
df_steam=df_steam.drop('incluye_free',axis=1)

In [19]:
df_steam

,genres,app_name,title,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"[Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,0.0,643980,Secret Level SRL
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,0.0,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...
28676,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
28677,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
28678,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
28679,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
28680,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"

Columna "price"

In [20]:
# Se observa la columna "price" creando una columna auxiliar para ver si se puede pasar a tipo float
def check_float(value):
    try:
        float(value)
        return True
    except ValueError:
        return False
df_steam['is_float'] = df_steam['price'].apply(check_float)

In [21]:
df_steam

,genres,app_name,title,release_date,price,id,developer,is_float
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,True
1,"[Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,0.0,643980,Secret Level SRL,True
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,0.0,670290,Poolians.com,True
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.99,767400,彼岸领域,True
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd,True
...,...,...,...,...,...,...,...,...
28676,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,True
28677,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS""",True
28678,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada,True
28679,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,True
28680,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",True

In [22]:
# Se observan la cantidad de cada tipo en esta columna auxiliar
tipo_counts=df_steam['is_float'].value_counts()
tipo_counts

is_float
True     27991
False      690
Name: count, dtype: int64

In [23]:
# Vemos aquellos valores de la columna "price" donde is_float es False
filtered_df = df_steam[df_steam['is_float']==False]
price_counts = filtered_df['price'].value_counts()
price_counts

price
Free                             470
Free to Play                     114
Free To Play                      90
Free Demo                          3
Third-party                        2
Play Now                           2
Free Mod                           2
Install Now                        1
Play WARMACHINE: Tactics Demo      1
Install Theme                      1
Free HITMAN™ Holiday Pack          1
Play the Demo                      1
Free to Try                        1
Free to Use                        1
Name: count, dtype: int64

In [24]:
# Eliminar las filas que cumplen las condiciones
condiciones = (df_steam['price'] == 'Play Now') | (df_steam['price'] == 'Third-party') | (df_steam['price'] == 'Install Theme') | (df_steam['price'] == 'Install Now')
df_steam= df_steam.drop(df_steam[condiciones].index)

In [25]:
filtered_df = df_steam[df_steam['is_float']==False]
price_counts = filtered_df['price'].value_counts()
price_counts

price
Free                             470
Free to Play                     114
Free To Play                      90
Free Demo                          3
Free Mod                           2
Play WARMACHINE: Tactics Demo      1
Free HITMAN™ Holiday Pack          1
Play the Demo                      1
Free to Try                        1
Free to Use                        1
Name: count, dtype: int64

In [26]:
# Cambiar los valores de la columna "price" a 0.0 si "is_float" es False
df_steam.loc[df_steam["is_float"] == False, "price"] = 0.0
# Eliminamos la columna auxiliar
df_steam = df_steam.drop('is_float', axis=1)

In [27]:
df_steam

,genres,app_name,title,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"[Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,0.0,643980,Secret Level SRL
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,0.0,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...
28676,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
28677,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
28678,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
28679,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
28680,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"

In [28]:
df_steam=df_steam.dropna(subset=['price']).reset_index(drop=True)

Columna "release_date"

In [29]:
# Se pasa la columna "release_date" a tipo date y nos quedamos solo con el año
df_steam['release_date'] = pd.to_datetime(df_steam['release_date'], errors='coerce')
df_steam = df_steam.dropna(subset=['release_date']).reset_index(drop=True)
df_steam['release_date'] = df_steam['release_date'].dt.year.astype('Int64')

In [30]:
df_steam

,genres,app_name,title,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018,4.99,761140,Kotoshiro
1,"[Indie, RPG, Strategy]",Ironbound,Ironbound,2018,0.0,643980,Secret Level SRL
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017,0.0,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...
27540,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018,1.99,745400,Bidoniera Games
27541,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018,1.99,773640,"Nikita ""Ghost_RUS"""
27542,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018,4.99,733530,Sacada
27543,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018,1.99,610660,Laush Dmitriy Sergeevich
27544,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017,4.99,658870,"xropi,stev3ns"

Columnas "app_name" y "title"

In [31]:
# Se comprueba si las columnas "app_name" y "title" poseen los mismos datos
son_iguales = df_steam['app_name'].equals(df_steam['title'])
if son_iguales:
    print("Los datos de las columnas son iguales")
else:
    print("Los datos de las columnas son diferentes")

Los datos de las columnas son diferentes

In [32]:
#Se verifica que datos son diferentes
indices_diferentes = df_steam.loc[df_steam['title'] != df_steam['app_name']].index
lista_indices = indices_diferentes.tolist()
print("Los índices de las filas donde 'title' es diferente de 'app_name' son:", lista_indices)

Los índices de las filas donde 'title' es diferente de 'app_name' son: [58, 60, 84, 153, 155, 186, 200, 201, 202, 272, 276, 278, 286, 309, 311, 345, 353, 404, 424, 425, 427, 446, 490, 522, 540, 597, 677, 716, 733, 735, 791, 830, 893, 894, 916, 992, 1049, 1159, 1210, 1243, 1252, 1253, 1262, 1319, 1322, 1520, 1538, 1635, 1639, 1692, 1774, 1814, 1826, 2005, 2020, 2112, 2235, 2355, 2356, 2358, 2362, 2593, 2606, 2690, 2786, 2893, 2909, 2983, 3045, 3078, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3190, 3191, 3200, 3341, 3398, 3426, 3513, 3534, 3560, 3587, 3607, 3692, 3724, 3769, 3795, 3824, 3849, 3931, 4037, 4074, 4087, 4114, 4257, 4259, 4346, 4427, 4475, 4545, 4562, 4564, 4714, 4802, 4937, 4939, 5065, 5103, 5121, 5247, 5268, 5326, 5445, 5534, 5545, 5574, 5592, 5649, 5675, 5743, 5744, 5808, 5858, 5859, 5973, 6011, 6042, 6073, 6088, 6092, 6132, 6152, 6178, 6231, 6279, 6357, 6505, 6517, 6567, 6688, 6692, 6722, 6751, 6830, 6945, 6955, 6974, 6990, 7000, 7001, 7005, 7006, 7007, 7009, 7010, 7011, 7105, 7130, 7132, 7146, 7219, 7283, 7324, 7399, 7400, 7430, 7452, 7467, 7555, 7599, 7733, 7735, 7794, 7829, 7853, 7865, 7906, 8014, 8015, 8025, 8035, 8058, 8162, 8198, 8263, 8264, 8267, 8269, 8322, 8330, 8383, 8561, 8610, 8794, 8838, 8859, 8949, 8950, 8951, 8955, 8973, 8979, 9176, 9178, 9198, 9236, 9297, 9340, 9431, 9460, 9488, 9581, 9633, 9642, 9668, 9689, 9728, 9850, 10204, 10368, 10405, 10421, 10575, 10652, 10764, 10772, 11047, 11061, 11066, 11067, 11178, 11255, 11300, 11346, 11357, 11411, 11429, 11532, 11577, 11621, 11693, 11714, 11715, 11741, 11743, 11770, 11787, 11790, 11834, 11839, 11840, 11863, 12048, 12169, 12330, 12486, 12503, 12563, 12572, 12736, 12775, 12783, 12784, 12825, 12864, 12884, 13090, 13444, 13491, 13500, 13509, 13510, 13512, 13594, 13670, 13697, 13735, 13813, 13876, 13972, 13993, 14000, 14078, 14122, 14181, 14377, 14568, 14698, 14760, 14771, 14789, 14807, 14824, 14835, 14858, 14900, 14901, 14903, 14904, 14980, 14982, 14997, 15011, 15081, 15154, 15155, 15183, 15370, 15389, 15390, 15447, 15483, 15575, 15762, 15826, 15910, 15956, 15994, 16049, 16054, 16062, 16068, 16171, 16232, 16358, 16363, 16493, 16541, 16558, 16595, 16597, 16746, 16928, 17098, 17119, 17164, 17215, 17261, 17321, 17427, 17613, 17620, 17621, 17647, 17768, 17858, 17953, 17989, 17994, 18221, 18225, 18302, 18478, 18528, 18623, 18759, 18836, 18898, 18900, 18901, 18902, 18903, 18904, 18905, 18908, 18920, 18930, 19032, 19053, 19056, 19057, 19058, 19059, 19128, 19129, 19255, 19256, 19408, 19531, 19927, 19945, 19946, 20338, 20533, 20605, 20787, 20904, 21157, 21446, 21579, 21671, 21672, 21673, 21735, 21737, 21811, 21836, 21955, 21956, 21960, 21961, 22037, 22106, 22122, 22152, 22155, 22205, 22341, 22344, 22486, 22506, 22689, 22705, 22763, 22804, 22835, 22836, 22837, 22838, 22839, 22840, 22841, 22873, 22904, 22994, 23010, 23072, 23077, 23078, 23181, 23202, 23292, 23354, 23544, 23748, 23782, 23783, 23784, 23785, 23786, 23891, 23923, 24104, 24203, 24224, 24273, 24289, 24367, 24411, 24533, 24547, 24574, 24592, 24593, 24670, 24676, 24722, 24752, 24768, 24854, 24898, 24899, 24947, 24991, 25160, 25212, 25436, 25494, 25510, 25610, 25673, 25765, 25777, 25825, 25862, 25883, 25887, 25912, 25930, 25942, 25980, 25993, 26088, 26124, 26294, 26472, 26511, 26544, 26555, 26557, 26565, 26590, 26664, 26667, 26758, 26890, 26958, 26972, 26980, 27102, 27122, 27234, 27258, 27302, 27305, 27306, 27307, 27308, 27309, 27310, 27353, 27354, 27355, 27356, 27381, 27493]

In [33]:
# Se crea un dataframe con aquellas filas donde app_name es distinto de title
df_prueba=df_steam.loc[lista_indices]
df_prueba

,genres,app_name,title,release_date,price,id,developer
58,"[Action, Adventure]",Sam & Max 101: Culture Shock,Sam &amp; Max 101: Culture Shock,2006,19.99,8200,Telltale Games
60,"[Action, Adventure]",Sam & Max 102: Situation: Comedy,Sam &amp; Max 102: Situation: Comedy,2006,19.99,8210,Telltale Games
84,[Strategy],Command & Conquer: Red Alert 3,Command &amp; Conquer: Red Alert 3,2008,19.99,17480,EA Los Angeles
153,[Strategy],Heroes of Might & Magic V: Hammers of Fate,Heroes of Might &amp; Magic V: Hammers of Fate,2006,9.99,15380,Nival
155,[Strategy],Heroes of Might & Magic V: Tribes of the East,Heroes of Might &amp; Magic V: Tribes of the East,2007,9.99,15370,Nival
...,...,...,...,...,...,...,...
27354,"[Action, Adventure]",Sam & Max 105: Reality 2.0,Sam &amp; Max 105: Reality 2.0,2007,19.99,8240,Telltale Games
27355,"[Action, Adventure]",Sam & Max 104: Abe Lincoln Must Die!,Sam &amp; Max 104: Abe Lincoln Must Die!,2007,19.99,8230,Telltale Games
27356,"[Action, Adventure]",Sam & Max 106: Bright Side of the Moon,Sam &amp; Max 106: Bright Side of the Moon,2007,19.99,8250,Telltale Games
27381,"[Action, Strategy]",Making History: The Calm & the Storm,Making History: The Calm &amp; the Storm,2007,4.99,6250,Muzzy Lane
27493,"[Action, RPG]",Dark Messiah of Might & Magic,Dark Messiah of Might &amp; Magic,2006,9.99,2100,Arkane Studios

In [34]:
# Se elimina la columna "title" al no reconocer bien el signo "&"
df_steam=df_steam.drop('title',axis=1)

In [35]:
df_steam

,genres,app_name,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018,4.99,761140,Kotoshiro
1,"[Indie, RPG, Strategy]",Ironbound,2018,0.0,643980,Secret Level SRL
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017,0.0,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,2017,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...
27540,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018,1.99,745400,Bidoniera Games
27541,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018,1.99,773640,"Nikita ""Ghost_RUS"""
27542,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018,4.99,733530,Sacada
27543,"[Indie, Racing, Simulation]",Russian Roads,2018,1.99,610660,Laush Dmitriy Sergeevich
27544,"[Casual, Indie]",EXIT 2 - Directions,2017,4.99,658870,"xropi,stev3ns"

In [36]:
# Observamos si existen juegos repetidos con mismo app_name y id
df_filtered = df_steam[df_steam.duplicated(subset=['app_name', 'id'], keep=False)]
df_sorted = df_filtered.sort_values('app_name')
df_sorted

,genres,app_name,release_date,price,id,developer
11852,[Action],Wolfenstein II: The New Colossus,2017,59.99,612880,Machine Games
12403,[Action],Wolfenstein II: The New Colossus,2017,59.99,612880,Machine Games

In [37]:
# Se elimina uno
df_steam = df_steam.drop(12403).reset_index(drop=True)

In [38]:
# Observamos si existen juegos repetidos con mismo app_name y developer
existen_duplicados = df_steam.duplicated(subset=['app_name','developer']).any()
if existen_duplicados:
    print("Existen filas duplicadas en las columna 'app_name' y 'developer'")
else:
    print("No existen filas duplicadas en la columna 'app_name' y 'developer'")

Existen filas duplicadas en las columna 'app_name' y 'developer'

In [39]:
# Verificamos cuales son esas filas repetidas
filas_duplicadas = df_steam[df_steam.duplicated(subset=['app_name','developer'], keep=False)]
conteo_app_name = filas_duplicadas['app_name'].value_counts()
app_name_repetidos=[]
for app_name, count in conteo_app_name.items():
    app_name_repetidos.append(app_name)
    print(f"{app_name}: {count} veces")

Invisible Apartment 2: 2 veces
Total Extreme Wrestling: 2 veces
MORE SWEATER? OK!: 2 veces

In [40]:
df_filtered = df_steam[df_steam['app_name'].isin(app_name_repetidos)]
df_sorted = df_filtered.sort_values('app_name')
df_sorted

,genres,app_name,release_date,price,id,developer
4054,"[Adventure, Indie]",Invisible Apartment 2,2015,7.99,401200,"Milan Kazarka,Jeroen van Oosten"
17668,"[Adventure, Indie]",Invisible Apartment 2,2016,0.0,543220,"Milan Kazarka,Jeroen van Oosten"
11278,"[Casual, Indie, Simulation]",MORE SWEATER? OK!,2017,0.99,773080,Triple-Star Studio
27444,"[Action, Casual, Indie, RPG, Simulation]",MORE SWEATER? OK!,2017,1.99,746050,Triple-Star Studio
7149,[Sports],Total Extreme Wrestling,2016,19.99,529700,Grey Dog Software
22887,"[Simulation, Sports]",Total Extreme Wrestling,2015,19.99,344810,Grey Dog Software

In [41]:
# Eliminamos las filas que poseen mayor cantidad de valores faltantes y reindexamos el dataframe
indices_eliminar=[]
indices_eliminar.extend([17668,11278,22887])
df_steam=df_steam.drop(indices_eliminar).reset_index(drop=True)
df_steam

,genres,app_name,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018,4.99,761140,Kotoshiro
1,"[Indie, RPG, Strategy]",Ironbound,2018,0.0,643980,Secret Level SRL
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017,0.0,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,2017,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...
27536,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018,1.99,745400,Bidoniera Games
27537,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018,1.99,773640,"Nikita ""Ghost_RUS"""
27538,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018,4.99,733530,Sacada
27539,"[Indie, Racing, Simulation]",Russian Roads,2018,1.99,610660,Laush Dmitriy Sergeevich
27540,"[Casual, Indie]",EXIT 2 - Directions,2017,4.99,658870,"xropi,stev3ns"

In [42]:
# Renombrar la columna "id" a "item_id" y "app_name" por "item_name"
df_steam.rename(columns={"id": "item_id"}, inplace=True)
df_steam.rename(columns={"app_name": "item_name"}, inplace=True)

In [43]:
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27541 entries, 0 to 27540
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27541 non-null  object
 1   item_name     27541 non-null  object
 2   release_date  27541 non-null  Int64
 3   price         27541 non-null  object
 4   item_id       27541 non-null  object
 5   developer     27541 non-null  object
dtypes: Int64(1), object(5)
memory usage: 1.3+ MB

----------------------

CARGA DEL ARCHIVO "AUSTRALIAN_USERS_ITEMS.JSON"

In [44]:
import ast
data=[]
with open('../australian_users_items.json','r',encoding='utf-8') as f:
    for line in f:
        data.append(ast.literal_eval(line))
df_user=pd.DataFrame(data)

In [45]:
user_items_explored = df_user.explode('items')
user_items_normalized = pd.json_normalize(user_items_explored['items'])
user_items_explored.reset_index(drop=True, inplace=True)
user_items_normalized.reset_index(drop=True, inplace=True)
df_user_final = pd.concat([user_items_explored.drop('items',axis=1), user_items_normalized],axis=1)

In [46]:
# Elimino las columnas inncesarias
df_user_final = df_user_final.drop(["items_count","user_url", "playtime_2weeks",'steam_id','item_name'], axis=1)

In [47]:
# Revisamos si hay valores faltantes en alguna columna
filas_nulas_user_id = df_user_final[df_user_final['user_id'].isnull()].shape[0]
filas_nulas_item_id = df_user_final[df_user_final['item_id'].isnull()].shape[0]
filas_nulas_playtime_forever = df_user_final[df_user_final['playtime_forever'].isnull()].shape[0]
print("Número de filas con valores nulo en user_id:", filas_nulas_user_id)
print("Número de filas con valores nulo en item_id:", filas_nulas_item_id)
print("Número de filas con valores nulo en playtime_forever:", filas_nulas_playtime_forever)

Número de filas con valores nulo en user_id: 0
Número de filas con valores nulo en item_id: 16806
Número de filas con valores nulo en playtime_forever: 16806

In [48]:
# Eliminamos las filas donde "playtime_forever" es nulo y reindexamos
df_user_final = df_user_final.dropna(subset=['playtime_forever']).reset_index(drop=True)

In [49]:
df_user_final

                   user_id item_id  playtime_forever
0        76561197970982479      10               6.0
1        76561197970982479      20               0.0
2        76561197970982479      30               7.0
3        76561197970982479      40               0.0
4        76561197970982479      50               0.0
...                    ...     ...               ...
5153204  76561198329548331  346330               0.0
5153205  76561198329548331  373330               0.0
5153206  76561198329548331  388490               3.0
5153207  76561198329548331  521570               4.0
5153208  76561198329548331  519140               3.0

[5153209 rows x 3 columns]

In [50]:
df_user_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           object
 2   playtime_forever  float64
dtypes: float64(1), object(2)
memory usage: 117.9+ MB

----------------------------

CARGA DEL ARCHIVO "AUSTRALIAN_USER_REVIEWS.JSON"

In [51]:
with open('../australian_user_reviews.json', 'r', encoding='utf-8') as file:
    data = [eval(line) for line in file]
df_reviews = pd.DataFrame(data)

In [52]:
user_reviews_explored = df_reviews.explode('reviews')
user_reviews_normalized = pd.json_normalize(user_reviews_explored['reviews'])
user_reviews_explored.reset_index(drop=True, inplace=True)
user_reviews_normalized.reset_index(drop=True, inplace=True)
df_reviews_final = pd.concat([user_reviews_explored.drop('reviews',axis=1), user_reviews_normalized],axis=1)

In [53]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
# Descargar los recursos necesarios para el análisis de sentimiento
nltk.download('vader_lexicon')
# Crear una instancia del analizador de sentimientos
sid = SentimentIntensityAnalyzer()
# Función para clasificar el sentimiento en la escala deseada
def get_sentiment_score(text):
    if isinstance(text, str) and text.strip() != '':
        sentiment = sid.polarity_scores(text)
        compound_score = sentiment['compound']
        if compound_score >= 0.05:
            return 2  # Positivo
        elif compound_score <= -0.05:
            return 0  # Negativo
        else:
            return 1  # Neutral
    else:
        return 1  # Valor por defecto si la columna "review" está vacía
# Aplicar el análisis de sentimiento a la columna "review" y crear la columna "sentiment_analysis"
df_reviews_final['sentiment_analysis'] = df_reviews_final['review'].apply(get_sentiment_score)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\magsn\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [54]:
# Se verifica el total de cada tipo en la columna "sentiment_analysis"
count_0 = df_reviews_final[df_reviews_final['sentiment_analysis'] == 0].shape[0]
count_1 = df_reviews_final[df_reviews_final['sentiment_analysis'] == 1].shape[0]
count_2 = df_reviews_final[df_reviews_final['sentiment_analysis'] == 2].shape[0]
print("Cantidad de filas con valor 0 en sentiment_analysis:", count_0)
print("Cantidad de filas con valor 1 en sentiment_analysis:", count_1)
print("Cantidad de filas con valor 2 en sentiment_analysis:", count_2)

Cantidad de filas con valor 0 en sentiment_analysis: 9612
Cantidad de filas con valor 1 en sentiment_analysis: 12304
Cantidad de filas con valor 2 en sentiment_analysis: 37417

In [55]:
# Revisamos valores faltantes en las columnas
filas_nulas_user_id = df_reviews_final[df_reviews_final['user_id'].isnull()].shape[0]
filas_nulas_item_id = df_reviews_final[df_reviews_final['item_id'].isnull()].shape[0]
filas_nulas_recommend = df_reviews_final[df_reviews_final['recommend'].isnull()].shape[0]
print("Número de filas con valores nulo en user_id:", filas_nulas_user_id)
print("Número de filas con valores nulo en item_id:", filas_nulas_item_id)
print("Número de filas con valores nulo en recommend:", filas_nulas_recommend)

Número de filas con valores nulo en user_id: 0
Número de filas con valores nulo en item_id: 28
Número de filas con valores nulo en recommend: 28

In [56]:
df_reviews_final = df_reviews_final.dropna(subset=['item_id']).reset_index(drop=True)

In [57]:
# Eliminamos las columnas innecesarias
df_reviews_final = df_reviews_final.drop(["funny","user_url", "posted", "last_edited", "helpful",'review'], axis=1)
df_reviews_final

                 user_id item_id recommend  sentiment_analysis
0      76561197970982479    1250      True                   2
1      76561197970982479   22200      True                   2
2      76561197970982479   43110      True                   2
3                js41637  251610      True                   2
4                js41637  227300      True                   2
...                  ...     ...       ...                 ...
59300  76561198312638244      70      True                   2
59301  76561198312638244  362890      True                   2
59302        LydiaMorley  273110      True                   2
59303        LydiaMorley     730      True                   2
59304        LydiaMorley     440      True                   2

[59305 rows x 4 columns]

In [58]:
df_reviews_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  object
 2   recommend           59305 non-null  object
 3   sentiment_analysis  59305 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.8+ MB

-------------------------

Creación de los df para APIs

In [59]:
# Consigna 1
df_steam
# Consigna 3
df_sub1 = pd.merge(df_steam,df_user_final,on='item_id')
# Consigna 2,4 y 5
df_sub2= pd.merge(df_steam,df_reviews_final,on='item_id')

In [60]:
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27541 entries, 0 to 27540
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27541 non-null  object
 1   item_name     27541 non-null  object
 2   release_date  27541 non-null  Int64
 3   price         27541 non-null  object
 4   item_id       27541 non-null  object
 5   developer     27541 non-null  object
dtypes: Int64(1), object(5)
memory usage: 1.3+ MB

In [61]:
df_sub1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4101824 entries, 0 to 4101823
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   genres            object
 1   item_name         object
 2   release_date      Int64
 3   price             object
 4   item_id           object
 5   developer         object
 6   user_id           object
 7   playtime_forever  float64
dtypes: Int64(1), float64(1), object(6)
memory usage: 254.3+ MB

In [62]:
df_sub2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49701 entries, 0 to 49700
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   genres              49701 non-null  object
 1   item_name           49701 non-null  object
 2   release_date        49701 non-null  Int64
 3   price               49701 non-null  object
 4   item_id             49701 non-null  object
 5   developer           49701 non-null  object
 6   user_id             49701 non-null  object
 7   recommend           49701 non-null  object
 8   sentiment_analysis  49701 non-null  int64
dtypes: Int64(1), int64(1), object(7)
memory usage: 3.5+ MB

In [63]:
df_sub1 = df_sub1[df_sub1['playtime_forever'] != 0.0].reset_index(drop=True)
columns=['item_name','price','developer','item_id']
df_sub1=df_sub1.drop(columns,axis=1).reset_index(drop=True)
df_sub1['release_date'] = df_sub1['release_date'].astype('int16')
df_sub1['playtime_forever'] = df_sub1['playtime_forever'].astype('int16')
df_sub1['genres'] = df_sub1['genres'].apply(lambda x: [genre for genre in x if genre != 'Early Access'])
df_sub1 = df_sub1[df_sub1['playtime_forever'] <= 8760].reset_index(drop=True)
df_sub1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2673902 entries, 0 to 2673901
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   genres            object
 1   release_date      int16
 2   user_id           object
 3   playtime_forever  int16
dtypes: int16(2), object(2)
memory usage: 51.0+ MB

In [64]:
import gzip
df_sub1.to_csv('df_sub1.csv.gz', compression='gzip', index=False)

In [65]:
df_sub2.to_csv('df_sub2.csv')
df_steam.to_csv('df_steam.csv')